<div class="col-md-12 well">           
    <div class="row">
        <form class="col-md-offset-3 col-md-6" method="GET">
            <div class="input-group">
                <input name="query" type="text" class="form-control" placeholder="Search String..." value="<%= params[:query] %>"/>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Go</button>
                </span>
            </div>
        </form>
    </div>

    <hr>
<% if @files %>
  <table class="table table-condensed table-hover table-striped">
  <% @files.each do |file| %>
    <% path = file.path %>
    <% path_urlencoded = urlencode(path) %>
    <tr>
      <td><img src="<%= icon_for path.split(".")[-1].downcase %>" class="img-responsive" alt="<%= path.split('.')[-1].downcase %>" /></td>
      <td>
        <%  0.upto(path.split('/').length - 2).each do |n| %>
          <span class="divider muted">/ </span> 
          <a href="<%= browse_path %>/<%=path_urlencoded.split('/')[0..n].join('/') %>/" target="_blank"><%= path.split('/')[n] %></a>
        <% end %>
        <span class="divider muted">/ </span> 
        <a href="<%= Rails.configuration.files_url + path_urlencoded %>" target="_blank"><%= path.split('/')[-1] %></a>
      </td>
    </tr>
    <% end %>
  </table>

  <div><%= paginate @files, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" %></div>
<% end %>
</div>
