<div class="hero-unit">           
    <div class="navbar">
        <form class="navbar-form" method="get" action="/submit.html/">
            <input name="query" class="span6 input-large" type="text" placeholder="Search String..." value="<%= @query %>">
            <button type="submit" class="btn btn-large">Go</button>
        </form>
    </div>
</div>

<% @output.each do |file| %>
  <div class="row">
    <div class="span1"><img src="http://cdn.stoychev.info/icons/index/<%= file.split('.')[-1].downcase %>.png" width="24" height="24" alt="<%= file.split('.')[-1].downcase %>" /></div>
    <div class="span11">
      <%  
        chunks = file.split('/');
        chunks.each do | path_chunk, i |
      %>        
        <%   
          path_updirs = file.split(path_chunk)[0];
          path_updirs_urlencoded = ""
          if !path_updirs.nil?
            path_updirs.split('/').each do |updir_chunk| 
               path_updirs_urlencoded = path_updirs_urlencoded + '/' + u(updir_chunk)
            end
          end
        %>
        
        <% if i == chunks.length - 1 %>
            / <a href="<%= @@music_baseurl path_updirs_urlencoded + '/' + u(path_chunk) %>"><%= path_chunk %></a>
        <% elsif %>
            / <a href="/browse.html<%= path_updirs_urlencoded + '/' + u(path_chunk) %>/"><%= path_chunk %></a>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
