<div class="col-md-12 well">           
    <div class="row">
        <form class="col-md-offset-3 col-md-6" method="get" action="<%= root_path %>">
            <div class="input-group">
                <input name="query" type="text" class="form-control" placeholder="Search String..." value="<%= params[:query] %>"/>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Go</button>
                </span>
            </div>
        </form>
    </div>
    
    <hr>
<% if @files %>
  <% @files.each do |file| %>
    <% path = file.path %>
    <% path_urlencoded = urlencode(path) %>
    <div class="row">
      <div class="col-md-1"><img src="http://cdn.stoychev.info/icons/index/<%= path.split('.')[-1].downcase %>.png" class="img-responsive" alt="<%= path.split('.')[-1].downcase %>" /></div>
      <div class="col-md-11">
        <%  0.upto(path.split('/').length - 2).each do |n| %>
          <span class="divider muted">/ </span> 
          <a href="<%= browse_path %>/<%=path_urlencoded.split('/')[0..n].join('/') %>/"><%= path.split('/')[n] %></a>
        <% end %>
        <span class="divider muted">/ </span> 
        <a href="<%= Rails.configuration.files_url + path_urlencoded %>"><%= path.split('/')[-1] %></a>
      </div>
    </div>
  <% end %>


  <%= paginate @files %>
<% end %>
</div>
