<div class="hero-unit">           
    <div class="navbar">
        <form class="navbar-form" method="get" action="/submit.html/">
            <input name="query" class="span6 input-large" type="text" placeholder="Search String..." value="<%= @query %>">
            <button type="submit" class="btn btn-large">Go</button>
        </form>
    </div>
</div>

<% 0.upto(@output.length - 1) do |i| %>
  <div class="row">
    <div class="span1"><img src="http://cdn.stoychev.info/icons/index/<%= @output[i].split('.')[-1].downcase %>.png" width="24" height="24" alt="<%= @output[i].split('.')[-1].downcase %>" /></div>
    <div class="span11">
      <ul class="breadcrumb">
      <%  0.upto(@output[i].split('/').length - 2).each do | n | %>
        <li>
            <span class="divider">/</span> 
            <a href="/browse.html/<%= @output_urlencoded[i].split('/')[0..n].join('/') %>/"><%= @output[i].split('/')[n] %></a>
        </li>
      <% end %>
        <li>
            <span class="divider">/</span> 
            <a href="/music/<%= @output_urlencoded[i] %>"><%= @output[i].split('/')[-1] %></a>
        </li>
      </ul>
    </div>
  </div>
<% end %>
