<div class="hero-unit">           
    <div class="navbar">
        <form class="navbar-form" method="get" action="/submit.html/">
            <input name="query" class="span6 input-large" type="text" placeholder="Search String..." value="<%= @query %>">
            <button type="submit" class="btn btn-large">Go</button>
        </form>
    </div>
</div>

<% @output.each do |file| %>
  <div class="row">
    <div class="span1"><img src="http://cdn.stoychev.info/icons/index/<%= file.split('.')[-1].downcase %>.png" width="24" height="24" alt="<%= file.split('.')[-1].downcase %>" /></div>
    <div class="span11"><a href="/browse.html/<%= file %>"><%= file %></a></div>
  </div>
<% end %>
