asd%20sd

<div class="hero-unit">           
    <div class="navbar">
        <form class="navbar-form" method="get" action="/submit.html/">
            <input name="query" class="span6 input-large" type="text" placeholder="Search String..." value="<%= @query %>">
            <button type="submit" class="btn btn-large">Go</button>
        </form>
    </div>
</div>

<% @output.each do |file| %>
  <div class="row">
    <div class="span1"><img src="http://cdn.stoychev.info/icons/index/<%= file.split('.')[-1].downcase %>.png" width="24" height="24" alt="<%= file.split('.')[-1].downcase %>" /></div>
    <div class="span11">
      <% file.split('/').each do | path_chunk | %>
            
        <%     
          path_updirs = file.split(path_chunk)[0];
          path_updirs_urlencoded = "/"
          if !path_updirs.nil?
            path_updirs.split('/').each do |updir_chuk| 
              path_updirs_urlencoded += u(updir_chunk) + '/'
            end
          end
        %>
      
        / <a href="/browse.html/<%= path_updirs_urlencoded + u(path_chunk) %>/"><%= path_chunk %></a>
      <% end %>
    </div>
  </div>
<% end %>
