<!DOCTYPE html>
<html>
    <head>
        <title><%= Rails.configuration.title %></title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <meta name="description" content="<%= Rails.configuration.meta_description %>">
        <meta name="keywords" content="<%= Rails.configuration.meta_keywords %>">
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <%= yield(:head) %>
        
        <style type="text/css">
            #main {
                padding-bottom: 40px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%= root_path %>"><%= Rails.configuration.title %></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">            
                <%= active_link_to 'Search', search_path, :wrap_tag => :li %>
                <%= active_link_to 'Browse', browse_path(:trailing_slash => true), :wrap_tag => :li %>
                <%= active_link_to 'Update Index', index_path, :wrap_tag => :li %>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <div id="main" class="container">
            <%= yield %>
            <hr>
            <%= render 'layouts/includes/footer' %>
        </div>
    </body>
</html>
